<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .main-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 400px;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }
        h1, h2 {
            margin-bottom: 20px;
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            width: 100%;
        }
        input[type="text"], input[type="password"] {
            display: block;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ddd;
            width: 95%;
        }
        input[type="submit"], button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }
        input[type="submit"]:hover, button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1>LOGIN USER</h1>

            <form action="/users/login" method="post">
                Email<input type="text" name="email" id="" />
                Password<input type="password" name="password" id="" />
                <input type="submit" value="LOGIN">
            </form>
        </div>

        <div class="container">
            <h2>NEW USER?</h2>
            <button onclick="location.href='/register'">GO REGISTER</button>
        </div>
    </div>
</body>
</html>